---
import { Image } from 'astro:assets';

import { latestVersion } from '../../constants/app-version';
import OutlineButton from '../../components/actions/buttons/OutlineButton.astro';
import SolidButton from '../../components/actions/buttons/SolidButton.astro';
import v2Screenshot from '../../assets/images/v2-screenshot.png';
import { textClasses } from '../../components/typography/textStyles.ts';
---

<div class="flex flex-auto flex-col gap-12 sm:gap-18">
  <div class="flex flex-col items-stretch gap-12">
    <div class="flex flex-col items-center gap-6">
      <h1 class="text-center text-[1.7rem] sm:text-4xl md:text-5xl font-serif">
        <span class="typewriter-text" id="typewriter-text"></span>
        <span
          class="inline-block bg-purple-500 w-[3px] h-[1.1em] align-text-top typewriter-cursor"
          id="typewriter-cursor"></span>
      </h1>

      <p class={`text-center ${textClasses}`}>
        A local-first editor with Git-style version control, true privacy, and
        complete control over your data
      </p>
    </div>

    <div class="flex flex-col sm:flex-row sm:justify-center gap-6">
      <a
        href=`https://github.com/oktana-coop/v2/releases/download/v${latestVersion}/v2-${latestVersion}-universal.dmg`
        id="download-btn-link"
        ><SolidButton
          text="Download for macOS (Early Access)"
          size="lg"
          id="download-btn"
          classes="w-full sm:w-auto"
        /></a
      >
      <a
        href="https://oktana.dev/blog/introducing-v2-editor"
        target="_blank"
        rel="noopener"
        ><OutlineButton
          text="Read the Manifesto"
          size="lg"
          classes="w-full sm:w-auto"
        /></a
      >
    </div>
  </div>

  <div class="flex justify-center">
    <Image
      src={v2Screenshot}
      alt="v2 screenshot showing document editing"
      class="drop-shadow-xl/25"
    />
  </div>
</div>

<style>
  .typewriter-cursor {
    animation: blink-caret 1.2s infinite;
  }

  @keyframes blink-caret {
    from,
    to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
</style>
