---

export enum Symbol {
  CHECK = 'check',
  CROSS = 'cross',
  DASH = 'dash',
}

interface Props {
  text?: string;
  symbol?: Symbol;
}


const { text, symbol } = Astro.props;

---

<td class="px-6 py-4 xl:px-8">
  <div class="flex items-center justify-center gap-2">
    {
      symbol === Symbol.CHECK && (
        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-indigo-600">
          <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
        </svg>
      )
    }
    {
      symbol === Symbol.CROSS && (
        <svg
          viewBox="0 0 20 20"
          fill="currentColor"
          data-slot="icon"
          aria-hidden="true"
          class="size-5 text-gray-400"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.47 5.47a.75.75 0 0 1 1.06 0L10 8.94l3.47-3.47a.75.75 0 1 1 1.06 1.06L11.06 10l3.47 3.47a.75.75 0 0 1-1.06 1.06L10 11.06l-3.47 3.47a.75.75 0 1 1-1.06-1.06L8.94 10 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          />
        </svg>
      )
    }
    {
      symbol === Symbol.DASH && (
        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-gray-400">
          <path d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" fill-rule="evenodd"></path>
        </svg>
      )
    }
    {text && <div class="text-center text-sm/6 text-gray-500">{text}</div>}
  </div>
  <span class="sr-only">Included</span>
</td>
